.filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.btn_cont {
    display: flex;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 1000px) {
    .filters {
        grid-template-columns: repeat(2, 1fr);
    }
}