.navbar {
    background: var(--dark-gray);
    padding: 20px 0;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content a {
    text-decoration: none;
    color: var(--text-color);
    margin-right: 15px;
}
